<div class="col-md-4 p-5 ">
    <table>
        <thead>
        
        <tr>
        <th>
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header"></div>
                <div class="card-body">
                  <h4 class="card-title">Modulo de Maestro</h4>
              </div>
              </div>

        </th>
        <th>
            <div class="row justify-content-end">
                <div class ="col-4">

                   
    
                </div>
           

            </div>
            

        </th>
        <th>
            <div class="row justify-content-end">

                <div class="col-4">
                    <h4>GESTION DE PUBLICACIONES</h4>
                </div>
               
            </div>
            
        </th>
        
        </tr>
        
        
        </thead>
        
        
        </table>


</div>
<div class = "row justify-content-center">
<div class="col-4"> 
    
    <h2>EDICION DE PUBLICACION</h2>


    <div class="list-group">
        <a  class="list-group-item list-group-item-action flex-column align-items-start active">
         <form>
            <fieldset>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label mt-4">Titulo</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ingresar titulo">
                    <small id="emailHelp" class="form-text text-muted"></small>
                  </div>
                <div class="form-group">
                    <label for="exampleTextarea" class="form-label mt-4">Descripcion</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                  </div>
                
            </fieldset>

         </form>
         <button type="button" class="btn btn-outline-warning">GUARDAR</button>
        </a>
        
      </div>
      