<div class="col-md-4 p-5 center">

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Carnet</th>
        <th scope="col">Numero Practica</th>
        <th scope="col">Numero Grupo</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <th scope="row">Byron Hernández</th>
        <td>201806840</td>
        <td>Practica 1</td>
        <td>Grupo 1 </td>
      </tr>
    </table>
          
    </div>


   