<div class="col-md-4 p-5 ">
    <table>
        <thead>
        
        <tr>
        <th>
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header"></div>
                <div class="card-body">
                  <h4 class="card-title">Modulo Fibonacci</h4>
              </div>
              </div>

        </th>
        <th>
           
            

        </th>
        <th>
            <div class="row justify-content-end">

                
               
            </div>
            
        </th>
        
        </tr>
        
        
        </thead>
        
        
        </table>


</div>
<div class = "row justify-content-center">
<div class="col-6"> 
    
    <h2>Ingresar un numero</h2>
<table>
<thead>
<tr>
<th>
    <form>
        <fieldset>
          
          <div class="form-group row">
           
              <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="11">
            
          </div>
        </fieldset>
    </form>
</th>

</tr>
<tr>
    <th>
        <button type="button" class="btn btn-outline-primary btn-lg">Analizar</button>

    </th>
</tr>
<tr>
    <th>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"></div>
            <div class="card-body">
              <h4 class="card-title">Total Series Fibonacci</h4>
              <p class="card-text">total series </p>
            </div>
        </div>
    </th>
    
      
</tr>
<tr>
    <th>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"></div>
            <div class="card-body">
              <h4 class="card-title">Series Fibonacci</h4>
              <p class="card-text"> series </p>
            </div>
        </div>
    </th>
    
      
</tr>
</thead>

</table>



    </div>

</div>