<div class="col-md-4 p-5 ">
    <table>
        <thead>
        
        <tr>
        <th>
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header"></div>
                <div class="card-body">
                  <h4 class="card-title">Modulo de Administrador</h4>
              </div>
              </div>

        </th>
        <th>
            <div class="row justify-content-end">
                <div class ="col-4">

                   
    
                </div>
           

            </div>
            

        </th>
        <th>
            <div class="row justify-content-end">

                <div class="col-4">
                    <h4>ADMINISTRADOR</h4>
                </div>
               
            </div>
            
        </th>
        
        </tr>
        
        
        </thead>
        
        
        </table>


</div>
<div class = "row justify-content-center">
<div class="col-4"> 
    
    <h2>Menu</h2>
<table>
<thead>
<tr>
<th>
    <button type="button" class="btn btn-outline-primary btn-lg">CREAR MAESTRO</button>
</th>
<th>
    <button type="button" class="btn btn-outline-primary btn-lg">ELIMINAR MAESTRO</button>
  
</th>
<th>
    <button type="button" class="btn btn-outline-primary btn-lg">CARGAR CSV</button>


</th>
</tr>
<tr>
    <th>
        <button type="button" class="btn btn-outline-primary btn-lg">EDITAR ALUMNOS</button>

    </th>
    <th>
        <button type="button" class="btn btn-outline-primary btn-lg">EDITAR MAESTROS</button>

    </th>
    <th>
        <button type="button" class="btn btn-outline-primary btn-lg">AGREGAR MAESTROS</button>

    </th>
</tr>
<tr>
    <th>
        <button type="button" class="btn btn-outline-primary btn-lg">CREAR CARRERA</button>

    </th>
    <th>
        <button type="button" class="btn btn-outline-primary btn-lg">ASIGNAR MAESTRO</button>

    </th>
    <th>
        <button type="button" class="btn btn-outline-primary btn-lg">MENU MAESTROS</button>

    </th>
</tr>
</thead>

</table>



    </div>

</div>