<div class="col-md-4 p-5 ">
    <table>
        <thead>
        
        <tr>
        <th>
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header"></div>
                <div class="card-body">
                  <h4 class="card-title">Modulo de Maestro</h4>
              </div>
              </div>

        </th>
        <th>
            <div class="row justify-content-end">
                <div class ="col-4">

                    <img src="img/img1.png"  alt="imagen">
                    
    
                </div>
           

            </div>
            

        </th>
        <th>
            <div class="row justify-content-end">

                <div class="col-4">
                    <h4>NOMBRE DE MAESTRO</h4>
                </div>
               
            </div>
            
        </th>
        
        </tr>
        
        
        </thead>
        
        
        </table>


</div>
<div class = "row justify-content-center">
<div class="col-4"> 
    
    <h2>Menu</h2>
<table>
<thead>
<tr>
<th>
    <button type="button" class="btn btn-outline-primary btn-lg" routerLink="/maestroCrearPublicaciones" >Publicaciones</button>
</th>
<th>
    <button type="button" class="btn btn-outline-primary btn-lg">Actividades</button>
  
</th>
<th>
    <button type="button" class="btn btn-outline-primary btn-lg">Crear Examen</button>


</th>
</tr>
<tr>
    <th>
        <button type="button" class="btn btn-outline-primary btn-lg">Alumnos</button>

    </th>
</tr>
</thead>

</table>



    </div>

</div>