<div class="col-md-4 p-5 ">
    <table>
        <thead>
        
        <tr>
        <th>
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header"></div>
                <div class="card-body">
                  <h4 class="card-title">Modulo Par o Impar</h4>
              </div>
              </div>

        </th>
        <th>
           
            

        </th>
        <th>
            <div class="row justify-content-end">

                
               
            </div>
            
        </th>
        
        </tr>
        
        
        </thead>
        
        
        </table>


</div>
<div class = "row justify-content-center">
<div class="col-6"> 
    
    <h2>Ingresar un numero</h2>
<table>
<thead>
<tr>
<th>
    <form>
        <fieldset>
          
          <div class="form-group">
           
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="11">
              </div> 
          </div>
        </fieldset>
    </form>
</th>

</tr>
<tr>
    <th>
        <form>
            <button  class="btn btn-outline-primary btn-lg" (click)="game" >
                Analizar
            </button>
        </form>
       

    </th>
</tr>
<tr>
    <th>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"></div>
            <div class="card-body">
              <h4 class="card-title">Resultado</h4>
              <p class="card-text">es par / es impar</p>
            </div>
        </div>
    </th>
    
      
</tr>
</thead>

</table>



    </div>

</div>
