

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">GITFLOW</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Datos
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/numero_par_impar">Numero Par o Impar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/fibonacci">Fibonacci</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/palabra_al_revez">Palabra al revez</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/multiplicacion">Multiplicacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/division">Division</a>
          </li>
        </ul>
    
      </div>
    </div>
  </nav>
  
  